
h1 {
    background-color: black;
    color: white;
    margin: 0px;
    margin-bottom: 4px;
}
h2 {
    background-color: powderblue;
    float: left;
    width: 50%;
    height: 30px;
    margin: 0px;
    margin-bottom: 4px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    width: 25%;

}
